<%- include("header") -%>
    <h1>About To-Do-List</h1>

    <p>To-Do-List is a web application that allows you to create custom lists and add items to them. It is built using Node.js, Express.js, EJS.</p>

    <%- include("footer") -%>